[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

h2, .h2 {
  font-size: 27px;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 18px;
  margin-bottom: 9px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,"Open Sans",sans-serif;
  font-weight: 300;
  line-height: 1.1;
  color: #444;
}

.title {
	height:60px;
	background: blue;
}

.searchbox {
	margin-top: 30px;
	margin-left: -15px !important;
}

.step {
  margin-right: 8px !important;
}

// small
@media only screen and (max-width: 40em) { 
	.venuemap {
		height: 300px;
	}
	.search {
		margin-top: 20px;
		margin-left: -10px;
	}
	input[type="text"]
	{
	    font-size:30px;
	    height: 40px;
	}
	.titletext {
		margin: 10px;
		color:white;
		font-size:45px;
	}
	.venuetitle {
		color: blue;
		font-size: 30px;
		font-weight: bold;
		margin-bottom: 5px;
	}

	.venuetitle-distance {
		color: blue;
		font-size: 25px;
		font-weight: bold;
		margin-bottom: 5px;
	}

	.venueinfo {
		font-size: 25px;
	}
}

// medium
@media only screen and (min-width: 40.063em) { 
	.venuemap {
		height: 300px;
	}
	.search {
		margin-top: 20px;
		margin-left: -10px;
	}
	input[type="text"]
	{
	    font-size:25px;
	}
	.titletext {
		margin: 10px;
		color:white;
		font-size:40px;
	}
	.venuetitle {
		color: blue;
		font-size: 30px;
		font-weight: bold;
		margin-bottom: 5px;
	}

	.venuetitle-distance {
		color: blue;
		font-size: 25px;
		font-weight: bold;
		margin-bottom: 5px;
	}

	.venueinfo {
		font-size: 25px;
	}
}

// large
@media only screen and (min-width: 64.063em) { 
	.venuemap {
		height: 500px;
	}
	.titletext {
		margin: 10px;
		color:white;
		font-size:25px;
	}
	.venuetitle {
		color: blue;
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 5px;
	}

	.venuetitle-distance {
		color: blue;
		font-size: 15px;
		font-weight: bold;
		margin-bottom: 5px;
	}

	.venueinfo {
		font-size: 15px;
	}
}

.venueinfoarea {
	margin-left: -10px;
}
.venuehr {
	margin-bottom: 10px;
	margin-left: 0px;
}

.refreshbutton {
	margin-top: -5px !important;
	margin-left: -12px !important;
}

.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }

