<!DOCTYPE html>
<html ng-app="app">
<head>
    <base href="/">
    <title>Foursquare Demo Kimmo Kosunen</title>
    <link rel="stylesheet" type="text/css" href="/css/app.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="/img/foundation-icons.css" media="all"/>
</head>
<body ng-controller="ApplicationController">
<div ng-cloak ng-show="showerrormessage" class="large-12 medium-12 small-12 large-centered medium-centered columns">
	<alert class="erroralert" type="'alert'" close="closeError()">
		{{errormessage}}
	</alert>
</div>
<div ng-cloak class="apparea large-12 medium-12 small-12 left">
    <div id="application">
        <div id="view" ng-view></div>
    </div>
</div>
<script src="http://maps.google.com/maps/api/js"></script>
<script type="text/javascript" src="/js/app.js"></script>
<script type="text/javascript" src="/js/jquery-2.1.1.js"></script>
<script type="text/javascript" src="/js/mm-foundation-tpls-0.5.1.min.js"></script>
</body>
</html>
