<div ng-cloak id="home center">
    <div class="large-12 medium-12 small-12 large-centered medium-centered columns">
        <div class="title">
            <label class="titletext">Foursquare demo</label>
        </div>
        <div class="searchbox">
            <div class="large-6 medium-10 small-12 left columns">
                <map class="venuemap" zoom="14" 
                  center="[40.74, -74.18]" 
                  disable-default-u-i="true"
                  disable-double-click-zoom="true"
                  draggable="true"
                  dragging-cursor="move"
                  keyboard-shortcuts="false"
                  max-zoom="30"
                  min-zoom="2"
                  tilt="45"
                  map-type-id="ROADMAP">
                
                <marker ng-repeat="venue in venues"
                      position="[{{venue.location.lat}}, {{venue.location.lng}}]"
                      title="{{venue.name}}"
                      visible="true"></marker>
                </map>
            </div>
            <div class="large-6 medium-10 small-12 left columns">
                <div class="search large-10 medium-10 small-10 left columns">
                    <input ng-model="searchstring" placeholder="Search venues" ng-change="searchstringchanged()" type="text"/>
                </div>
                <div class="search large-1 medium-1 small-1 left columns">
                    <label class="refreshbutton" ng-click="refresh()"><i class="fi-refresh size-36"></i></label>
                </div>
                <div class="large-11 medium-12 small-12 left columns" style="overflow: auto; height:800px;">
                  <div ng-repeat="venue in venues">
                      <div class="row">
                          <hr class="venuehr">
                          <div class="venueinfoarea columns large-6 medium-6 small-6 left">
                              <label class="venuetitle">{{venue.name}}</label>
                          </div>
                          <div class="venueinfoarea columns large-3 medium-3 small-6 left">
                              <label class="venuetitle-distance">Etäisyys {{venue.location.distance}}</label>
                          </div>
                      </div>
                      <div class="row">
                          <div class="venueinfoarea columns large-5 medium-5 small-6 left">
                              <label class="venueinfo">{{venue.location.formattedAddress.join()}}</label>
                          </div>
                          <div class="venueinfoarea columns large-3 medium-3 small-3 left">
                              <label class="venueinfo">Kävijöitä {{venue.stats.checkinsCount}}</label>
                          </div>
                          <div class="venueinfoarea columns large-3 medium-3 small-3 left">
                              <label class="venueinfo">Käyttäjiä {{venue.stats.usersCount}}</label>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>